<h1>Best Rated Product</h1>
<p>
    <%= product.name %> - $<%= product.price %> - Rating: <%= product.rating %>
</p>
<img src="<%= product.image %>" alt="<%= product.name %>" width="200">
<a href="/products">Back to all products</a>